@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 400px;
    padding: 3em;
    border: 2px solid #c8d2db;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.lives {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.lives div {
    width: 30%;
    aspect-ratio: 1;
    background-image: url(../img/heart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    width: 100%;
    aspect-ratio: 5/2;
    padding: 1em;
    /* border: 2px solid #c8d2db;
    border-radius: .8em; */
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container p {
    text-align: center;
    color: #6d6d6d;
    font-weight: 500;
}

input {
    width: 20%;
    height: 2em;
    border: 2px solid #c8d2db;
    border-radius: .5em;
    font-size: 1.8em;
    text-align: center;
    color: #6d6d6d;
    appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}


input:focus {
    outline: none;
    border-color: #2aa7fd;
    background-color: #e7f5fe;
}

button {
    width: 60%;
    height: 3em;
    border-radius: .5em;
    border: none;
    font-size: 1.3em;
    color: #ffffff;
    background-color: #2aa7fd;
}

.score {
    position: absolute;
    left: 25%;
    top: 15vh;
    padding-inline: .5em;
    width: max-content;
    height: 40px;
    border-radius: .5em;
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #6d6d6d;
    border: 2px solid #c8d2db;
}

#hint {
    font-size: .7em;
}

.loading-sc {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deco {
    border-radius: 10em;
    aspect-ratio: 1;
    background-color: lightgreen;
    position: absolute;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.d1 {
    top: 3em;
    left: 9em;
    width: 300px;
    background-color: turquoise;
    filter: blur(10px);
    animation-duration: 15s;
}

.d2 {
    top: 6em;
    right: 3em;
    width: 140px;
    background-color: paleturquoise;
    filter: blur(10px);
    animation-duration: 5s;
}

.d3 {
    bottom: 3em;
    left: 29em;
    width: 150px;
    background-color: orchid;
    filter: blur(2px);
    animation-duration: 10s;
}

.d4 {
    bottom: 8em;
    right: 16em;
    width: 200px;
    background-color: rgb(148, 175, 255);
    filter: blur(3px);
    animation-duration: 8s;
}

.d5 {
    top: 18em;
    right: 25em;
    width: 90px;
    background-color: rgb(255, 129, 129);
    filter: blur(2px);
    animation-duration: 3s;
}

.d6 {
    bottom: 3em;
    left: -5em;
    width: 210px;
    background-color: rgb(255, 98, 197);
    filter: blur(5px);
    animation-duration: 5s;
}

.d7 {
    bottom: -5em;
    right: 30em;
    width: 230px;
    background-color: lemonchiffon;
    filter: blur(10px);
    animation-duration: 2s;
}

.loading-sc h2 {
    text-align: center;
    width: 20%;
    min-width: 100px;
    margin-block: 2em;
    font-size: 3em;
}

.loading-sc button {
    max-width: 200px;
    min-width: 80px;
    padding: .5em 1em;
}
.loader{
    width: 80px;
    aspect-ratio: 1;
    background-image: url('');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-6%);
    }
    75% {
        transform: translateY(8%);
    }

    100% {
        transform: translateY(0);
    }
}


/*  ,,*/